#!/bin/sh

# Load colors
xrdb -merge $HOME/.Xresources

# Set keyboard layout
setxkbmap -layout fr

# Help GTK+ and Qt with their theme
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export QT_QPA_PLATFORMTHEME=gtk2

# Prevent ranger from loading its config twice
export RANGER_LOAD_DEFAULT_RC=false

# Wal
#wal -i $HOME/Images/Wallpaper
wal -R
